@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    color: #222;
    vertical-align: top;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-style: "맑은고딕";
}
/*layout*/

.wrap{
    width: 1200px;
    height: 1100px;
    margin: 0 auto;
}
.header{
    height: 150px;
}
.logo{
    padding-top: 70px;
    float: left;
}
.logo h1{
    text-indent: -9999px;
    font-size: 0;
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 200px;
    height: 50px;
}

.nav{
    padding-top: 100px;
    float: right;
}
.menu_depth1 li{
    position: relative;
    width: 150px;
    height: 35px;
    float: left;
    text-align: center;
}
.menu_depth1 li a{
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s;
}
.menu_depth1 li a:hover{
    border-bottom: 1px solid #828282;
}
.menu_depth2{
    position: absolute;
    top:40px;
    left: 0;
    z-index: 600;
    background: #fff;
    border: 1px solid #c5c5c5;
    padding-top: 10px;
    display: none;
}
.menu_depth2 li{
    width: 150px;
    height: 35px;
}
.menu_depth2 li a{
    font-size: 14px;
    font-weight: lighter;
}
.main_slide{
    position: relative;
}
.main_slide ul{
    width: 1200px;
    height: 450px;
    overflow: hidden;
}
.main_slide li{
}
.big{
    display: none;
}
.small{
    opacity: 1;
    z-index: 500;
    position: absolute;
    top:0;
    right:0;
}
.small_1{
    position: absolute;
    top:0;
    right:0;
    opacity: 0.5;
}
.small_2{
    position: absolute;
    top:110px;
    right:0;
}
.small_3{
    position: absolute;
    top:220px;
    right:0;
}
.small_4{
    position: absolute;
    top:330px;
    right:0;
}
.contents{
    height: 250px;
    padding: 50px 0;
}
.bbs{
    width: 1200px;
    height: 250px;
}
.bbs li{
    float: left;
    width: 300px;
    height: 150px;
    padding: 50px;
}
.ico{
    display: inline-block;
    background: url(../images/icon.png) 0 0 no-repeat;
    width: 76px;
    height: 76px;
    transition: all 0.5s;
    opacity: 1;
}
.ico:hover{
    opacity: 0.5;
}
.ioc2{
    background: url(../images/icon.png) 0 0 no-repeat;
    width: 76px;
    height: 76px;
    background-position: -76px 0; 
}
.ioc3{
    background: url(../images/icon.png) 0 0 no-repeat;
    width: 76px;
    height: 76px;
    background-position: -152px 0; 
}
.bbs li em{
    padding-left: 20px;
    line-height: 76px;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.bbs li em:hover{
    color: #828282;
    font-weight: bold;
}
.footer{
    height: 150px;
    background: #828282;
}
.foot_logo{
    float: left;
    width: 400px;
    text-align: center;
    padding-top: 50px;
}
.menu_foot{
    float: right;
    width: 800px;
    padding-top: 40px;
    
}
.foot_list{
    text-align: center;
    padding-bottom: 10px;
}
.foot_list a{
    color: #c5c5c5;
    transition: all 0.5s;
}
.foot_list a:hover{
    color: #222;
}
.foot_list span{
    padding: 0 3px 0 10px;
    color: #c5c5c5;
}
.menu_foot address{
    text-align: center;
    font-style: normal;
    color: #c5c5c5;
    padding-bottom: 5px;
}
.copyright{
    text-align: center;
    color: #c5c5c5;
}