@charset "utf-8";
/* reset */
*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    color: #666;
    font-family: 'Nanum Square','Nanum Gothic',dotum,sans-serif;
    line-height: 1.5;
}
/*layout*/
.header_wrap{
    width: 100%;
    height:150px;
    background: #92b102 ;
}
.header{
    width: 1100px;
    height: 140px;
    margin: 0 auto;
}
.logo{
    float: left;
    padding-top: 60px;
}
.logo h1{
    text-indent: -9999px;
    width: 200px;
    height: 60px;
    background: url(images/logo.png) 0 0 no-repeat;
}
.nav{
    float: right;
    padding-top: 100px;
}
.menu_depth1 li{
    float: left;
    position: relative;
    width: 160px;
    height: 30px;
    text-align: center;
}
.menu_depth1 li a{
    font-size: 18px;
    font-weight: 900;
    color: #fff;
}
.menu_depth1>li a:hover{
    text-shadow: 1px 1px rgba(144,107,38,0.5);
}
.menu_depth2{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 130px;
    padding-top: 20px;
    background: rgba(255,255,255,0.9);
    z-index: 10;
    display: none;
}
.menu_depth2 li{
    line-height: 30px;
}
.menu_depth2 li a{
    font-size: 14px;
    font-weight: bold;
    color: #666;
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-shadow: 0px 0px rgba(0,0,0,0);
}
.menu_depth2 li a:hover{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #92b102;
}


.content{
    position: relative;
    width: 100%;
    height: 3000px;
}
.border_top{
    border-top: 3px solid #92b102 ;
    position: absolute;
    top:20px;
    left: 50%;
    margin-left: -60%;
    width: 120%;
    height: 100px;
}
.sub_nab_route{
    border-top: 1px solid #c5c5c5 ;
    position: absolute;
    top:40px;
    left: 50%;
    margin-left: -60%;
    width: 120%;
    height: 150px;
}
.route_list{
    width: 1100px;
    margin:70px auto;
    height: 20px;
}
.route_list span{
    font-family: 'sanserif';
    cursor: pointer;
}
.route_list em{
    font-style: normal;
    padding: 0 15px 0 10px;
    color: #c5c5c5;
    line-height: 20px;
}
.route_list em:nth-of-type(3){
    color: #666;
    font-weight: bold;
    font-family: 'sanserif';
    line-height: 15px;
    margin-left: 7px;
}
.route_1{
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
.route_2{
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
.route_3{
    font-weight: 900;
    color: #666;
    font-size: 15px;font-size: 15px;
    line-height: 20px;
}
.route_4{
    margin-left: 10px;
    font-size: 15px;
    color: #666;
    font-weight: 900;
    
}
.event_wrap{
    border-top: 1px solid #c5c5c5;
    position: absolute;
    top:145px;
    left: 50%;
    margin-left: -60%;
    width: 120%;
    
}

.event{
    width: 1200px;
    margin: 20px auto;
}
.eventimg{
    width: 1200px;
    margin: 0 auto;
}
.eventimg img{
    width: 100%;
}


.footer{
    width: 100%;
    height: 200px; 
}
.foot_list{
    float: left;
    width:100%;
    height: 50px;
    border-top: 1px solid #c5c5c5;
}
.foot_list li{
    float: left;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.foot_list li a{
    line-height: 50px;
    font-weight: 900;
}
.foot_list li a:hover{
    color: #333;
    font-size: 16px;
}
.foot_list li:nth-child(1){
    width: 90px;
    border-right: 1px solid #666;
}
.foot_list li:nth-child(2){
    width: 150px;
    border-right: 1px solid #666;
}
.foot_list li:nth-child(3){
    margin-left: 10px;
    font-weight: 900;
    float: left;
}
.foot_list ul li .link_tel{
    margin-left: 10px;
    height: 50px;
    width: 80px;
    font-size: 24px;
    color: #333;
    font-weight: 900;
}
.foot_list ul li .link_tel:hover{
    color: #1c4548 ;
    font-size: 26px;
}

.foot_list2_wrap{
    background: #666;
    float: left;
    width: 100%;
    height: 150px;
}
.foot_list2{
    width:1100px;
    height: 120px;
    padding-top: 30px;
    margin: 0 auto;
}
.foot_list2 address{
    float: left;
    width: 65%;
    text-align: left;
    font-style: normal;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
.foot_logo{
    float: right;
}
.foot_logo a{
    z-index: -9999px;
    font-size: 0px;
}
.img_footer{
    background: url(images/img_footer.png) 0 0 no-repeat;
    width: 150px;
    height: 38px;
    display: block;
    float: left;
    opacity: 1;
}
.link_micekorea{
    background-position:-150px 0;
    margin-left: 30px;
}
.img_footer:hover{
    opacity: 0.5;
}

