@charset "UTF-8";
*{
    list-style: none;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
/*layout*/
body{
        overflow-x: hidden;
        /* 가로스크롤이 나오는 것을 방지하기위함*/
}
.wrap{
    width: 1000px;
    margin: 0 auto;

}
.header{
    height: 200px;
    
}
.logo{
    float: left;
    padding-top: 70px;
}
.logo h1{
    text-indent: -9999px;
    font-size: 0;
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 120px;
    height: 50px;
}
.nav{
    float: right;
    padding-top: 100px;
}
.menu_depth1 li{
    position: relative;
    float: left;
    width: 120px;
    height: 30px;
    text-align: center;
}
.menu_depth1 li a{
    color: #000;
    font-size: 16px ;
    font-weight: bold;
}
.menu_depth1 li a:hover{
    color: #0077b5;
}
.menu_depth2{
    position: absolute;
    top:40px;
    left: 0;
    z-index: 100;
    background: #fff;
    border: 1px solid #002071;
    display: none;
}
.menu_depth2 li{
    width: 120px;
    height: 25px;
}
.menu_depth2 li a{
    font-size: 14px ;
    font-weight: bold;
}
.menu_depth2 li a:hover{
    color: #0077b5;
}
.slide_wraper{
    width: 1000px;
    height: 350px;
    overflow: hidden;
}
.main_slide{
    width: 1000px;
    position: relative;
}
.main_slide ul{
    width: 3000px;
    position: absolute;
    top:0;
    left: 0;
}
.main_slide li{
    width: 1000px;
    float: left;
}
.contents{
    height: 800px;
    padding: 50px 0;
}
.contents h2{
    font-size: 18px;
    font-weight: bold;
    color: #666;
    padding-bottom: 25px;
}
.col1{
    float: left;
    width: 500px;
}
.col1 li{
    padding-bottom: 10px;
}
.col1 li a:hover{
    border-bottom: 1px solid #0077b5;
}
.col2{
    float: left;
    width: 450px;
    padding: 0 25px;
}
.col2 li{
    padding-bottom: 10px;
}
.img_g{
    background: url(../images/ico.png) 0 0 no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}
.img_g.ico1{
    background: url(../images/ico.png);
    width: 50px;
    height: 50px;
}
.img_g.ico1:hover{
    background: url(../images/ico_on.png);
    width: 50px;
    height: 50px;
}
.img_g.ico2{
    background: url(../images/ico.png);
    width: 50px;
    height: 50px;
    background-position: 0 -50px;
}
.img_g.ico2:hover{
    background: url(../images/ico_on.png);
    width: 50px;
    height: 50px;
    background-position: 0 -50px;
}
.img_g.ico3{
    background: url(../images/ico.png);
    width: 50px;
    height: 50px;
    background-position: 0 -100px;
}
.img_g.ico3:hover{
    background: url(../images/ico_on.png);
    width: 50px;
    height: 50px;
    background-position: 0 -100px;
}
.img_g.ico4{
    background: url(../images/ico.png);
    width: 50px;
    height: 50px;
    background-position: 0 -150px;
}
.img_g.ico4:hover{
    background: url(../images/ico_on.png);
    width: 50px;
    height: 50px;
    background-position: 0 -150px;
}
.col2 em{
    font-style: normal;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    padding-left: 10px;
    line-height: 50px;
}
.col2 em:hover{
    color: #0077b5;
}
.col3{
    float: left;
    width: 1000px;
    height: 400px;
/*    overflow: hidden;*/
    position: relative;
}




.baaner{
    position: absolute;
    top:60px;
    left: 50%;
    visibility: visible;
    background : url("../images/banner_fixed.png") center center fixed;
    width: 200%;
    height: 400px;
    background-size:cover;
    margin-left: -100%;
}



.footer{
    height: 150px;
    background:#0077b5;
}
.menu_foot{
    text-align: center;
    padding: 30px 0;
}
.foot_list a{
    color: #c5c5c5;
}
.foot_list a:hover{
    color: #fff;
}
.foot_list span{
    color: #c5c5c5;
    padding: 0 3px 0 10px;
}
.menu_foot address{
    font-style: normal;
    color: #c5c5c5;
    font-size: 13px ;
}
.copyright{
    color: #c5c5c5;
    font-size: 13px ;
}
#modal{
    display: none;
    width: 100% ;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    padding-top: 100px;
    text-align: center;
}
#modal .baaner{
    padding-bottom: 10px;
}
#modal button{
    box-sizing: border-box;
    border-radius: 6px;
    padding: 6px 10px;
    background: #002071; 
    color: #fff;
    border-style: none;
}
#modal.on{
    display: block;
}